body, html {
    height: 100%;
    margin: 0; 
    background: white;
    padding: 10px;
}

#addbtn {
    right : 30px;
    bottom: 30px;
    position: absolute;
}

.background-white {
    background: #f2f2f2;
}

.item-toggle {
    float: right;
    margin-right: 10px;
}

.roboto-font {
    font: 7vw 'Roboto', sans-serif;
}

.vertical-align {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}